/* styles */
@import url(./global.css);
@import url(./hero.css);
@import url(./about.css);
@import url(./footer.css);

/* body */
body {
  display: grid;
  grid-template-areas:
    "hero hero hero hero"
    "about about about about"
    "footer footer footer footer";

  background-color: black;
  color: #fff;
}
